<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Stadium Eat</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
    </head>
    <body>
        <div id="connection">
            <header id="connection-header"></header>
            
            <p id="alert"></p>

            <div id="authentication-restaurant">
                <button id="to_station">I am a  pickup station</button><br>
                <label for="restaurant_mail">Restaurant : </label>
                <input type="text" name="restaurant_mail" id="restaurant_mail"><br>
                <label for="restaurant_pswd">Password : </label>
                <input type="password" name ="restaurant_pswd" id="restaurant_pswd"><br>
                <button id="restaurant_log_in">Log in</button><br>
            </div>
            <div id="authentication-station" class = "hide">
                <button id="to_restaurant">I am a restaurant</button><br>
                <label for="station_mail">Pickup Station : </label>
                <input type="text" name="station_mail" id="station_mail"><br>
                <label for="station_pswd">Password : </label>
                <input type="password" name ="station_pswd" id="station_pswd"><br>
                <button id="station_log_in">Log in</button><br>
            </div>
        </div>
        <div id="restaurant"  class = "hide">
            <header id="restaurant-header"><button class="log_out">Log out</button><button id="to_meals">To Meals</button><button id="to_orders">To Orders</button></header>
            <div id="restaurant_display_orders" >
                <table id="restaurant_orders" class = "table table-dark">
                    <thead>
                        <tr>
                            <th>Hide/Show</th>
                            <th>#</th>
                            <th>User</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <br>
            </div>
            <div id="meals" class = "hide">
                <table id="meals_table" class = "table table-dark">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Cat_id</th>
                            <th>Picture</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="pickup_station"  class = "hide">
            <header id="station-header"><button class="log_out">Log out</button></header>
            <div id="station_display_orders">
                <table id="station_orders" class = "table table-dark">
                        <thead>
                            <tr>
                                <th>Hide/Show</th>
                                <th>#</th>
                                <th>User</th>
                                <th>Restaurant</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            </div>
        </div>
</div>
        <footer></footer>
        <script src="../javascript/jquery-3.3.1.js" type="application/javascript"></script>
        <script src="../javascript/script.js" type="application/javascript"></script>
    </body>
</html>